:root {
	--text: black; /*#1d1d1d;*/
	--background: #c28185; /* #a97169; #cd9598; -- questo secondo me è più carino*/
	--primary: #f7d9bc;
	--primary-hover: #d89a8f;
	--secondary: #a97169;
	--accent: #fbd9d0;
	--spezzare: #60695c;
	--spezzare-2: #066756;
}

.navbar-brand img {
	width: 3rem;
}

a {
	color: var(--bs-navbar-toggler-border-color);
}
.navbar a {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 0.8rem;
	letter-spacing: 2px;
}

.nav-link:hover {
	color: var(--primary) !important;
}

.navbar-brand {
	padding: 0;
}
/* -------------------------------------------------------------------------- */
/*                                SFONDI PAGINE                               */
/* -------------------------------------------------------------------------- */

body {
	background-color: var(--background);
}

/* .home {
	background: rgb(194,129,133);
background: linear-gradient(0deg, rgba(194,129,133,1) 41%, rgba(236,236,236,1) 60%, rgba(194,129,133,1) 75%);
} */

.bambini {
	--background: #fbd9d0;
}

.bambini .nav-link:hover {
	color: #066756 !important;
}

.adolescenti {
	--background: #d89a8f;
}

.adulti {
	--background: #a97169;
}

.text-center a {
	font-size: 0.9rem;
}
/* .my-container {
	width: 80%;
	margin: auto;
} 
 
#myNav {
	background-color: #ffffff2d !important;
	backdrop-filter: blur(10px) !important; 
	opacity: 20px;
	background-color: transparent;
} */
/* -------------------------------------------------------------------------- */
/*                                    INDEX                                   */
/* -------------------------------------------------------------------------- */
#hero .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#hero h1,
#hero h2,
#hero h3 {
	opacity: 0;
	color: var(--text);
}

h1 {
	font-family: "Montserrat", serif; /*Prima era Cabin*/
	text-align: center;
	font-size: 3.5rem;
	letter-spacing: 5px;
	font-optical-sizing: auto;
	font-weight: 500;
	margin-bottom: 2rem;
	color: var(--text);
}

h2 {
	font-family: "Montserrat", serif;
	text-align: center;
	font-weight: 500;
	margin-bottom: 1.5rem;
}

.testo > h2 {
	text-align: left;
	margin-bottom: 1rem;
	margin-top: 2rem;
	font-weight: 600;
}

#servizi-adolescenti h2 {
	margin-bottom: 3rem;
	margin-top: 4rem;
}
h3 {
	font-family: "Montserrat", serif;
	font-weight: 400;
	margin-bottom: 2rem;
}

strong {
	color: black;
}

.btn-primary {
	--bs-btn-color: var(--text);
	--bs-btn-bg: var(--primary);
	--bs-btn-border-color: none;
	--bs-btn-hover-color: none;
	--bs-btn-hover-bg: var(--primary);
	--bs-btn-hover-border-color: none;
	--bs-btn-active-bg: #e1c5aa;
	--bs-btn-active-color: black;
	--bs-btn-active-border-color: black;
	--bs-btn-disabled-bg: #e1c5aa;
	--bs-btn-padding-x: 1.5rem;
	--bs-btn-padding-y: 0.5rem;

	font-family: "Montserrat", serif;

	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn-primary:hover {
	transform: scale(1.2) !important;
}

#bottone-contatti-hero {
	display: inline-block;
	transition: all 0.3s ease-in-out !important;
	opacity: 0;
	font-weight: 500;
	font-size: 1.15rem;
	letter-spacing: 1px;
}

p {
	font-family: "Cabin", sans-serif;
	text-align: justify;
	letter-spacing: 1px;
	font-size: 1.25rem;
	hyphens: auto; /* Aggiunge sillabazione */
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	word-wrap: break-word; /* Gestisce parole molto lunghe */
	overflow-wrap: break-word;
	word-break: break-word; /* Gestisce la rottura delle parole */
}

li {
	font-family: "Inter", sans-serif;
	list-style-type: none;
}

.testo li {
	list-style-type: disc;
	font-size: 1.25rem;
}

a {
	text-decoration: none;
}

.dropdown-menu {
	--bs-dropdown-bg: var(--accent); /* Colore di sfondo personalizzato */
	--bs-dropdown-link-hover-bg: var(--primary-hover); /* Colore al passaggio del mouse sui link */
	--bs-dropdown-link-active-bg: var(--primary-hover); /* Colore al click sui link */
	padding: 0;
	text-align: center;
}

/* -------------------------------------------------------------------------- */
/*                                  IL CENTRO                                 */
/* -------------------------------------------------------------------------- */
/* section#descrizione {
	background-color: var(--spezzare) !important;
	padding: 2rem 0 2rem 0;
} */

#hero-swiper {
	--swiper-navigation-size: 33px;
	--swiper-navigation-color: var(--primary);
	--swiper-pagination-color: var(--primary);
}

.testo-centro {
	max-width: 80vw;
	margin: auto;
}
.immagine-centro {
	width: 100vw;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

/* -------------------------------------------------------------------------- */
/*                                    CARD                                    */
/* -------------------------------------------------------------------------- */

.my-container {
	max-width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
}

.my-card {
	width: 100%;
	margin: auto;
	margin-bottom: 2rem;
	border-radius: 48% 48% 30% 0% / 40% 40% 20% 0%;
	box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	min-height: 70vh;
	overflow: hidden;
}

.image {
	display: flex;
	justify-content: center;
	/* width: 200px; 
	height: 200px;  */
	/* padding: 20px; */
	max-height: 40%;
	margin-bottom: 0px;
}
.my-card img {
	max-width: 40%;
	max-height: 60%;
	border-radius: 50%;
	margin-top: 2rem;
	object-fit: cover;
}

.my-card-text h3 {
	margin: 1rem 0;
	font-size: 1.5rem;
	font-weight: 700;
}
.my-card-text {
	padding: 0rem 2rem;
}
.my-card-text ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.my-card-text ul li {
	margin-bottom: 0.3rem;

	text-align: left;
}

.margine-bottone-carta {
	margin-left: 2rem;
	width: 100%; /* Make button span full card width */
	display: flex;
	/* justify-content: center; */
	align-self: flex-end;
	margin: auto auto 1.5rem 2rem;
}

.margine-bottone-carta a {
	padding: 0.7rem 1rem;
	font-size: 1rem;
	border-radius: 5px;
	text-align: center;
	color: var(--text);
	border: none;
	transition: all 0.4s ease-in-out;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 600;
	text-decoration: none;
}

#bottone-carta-1 a {
	color: #7a463e;
	background-color: #fbd9d0;
	font-style: italic;
	font-size: 1.1rem;
	/* border: 1px solid #c2a79f97; */
}

#bottone-carta-1 a:hover {
	box-shadow: 4px 4px 9px rgba(34, 34, 34, 0.1) inset, -11px -11px 11px #ffe1d9 inset;
	background-color: #fbd9d0;
	transform: scale(0.98);
}

#bottone-carta-2 a {
	color: var(--text);
	background-color: var(--primary-hover);
	font-style: italic;
	font-size: 1.1rem;
	/* border: 1px solid #c28185bd; */
}

#bottone-carta-2 a:hover {
	box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1) inset, -8px -8px 8px #e3a196 inset;
	background-color: var(--primary-hover);
	transform: scale(0.98);
}
#bottone-carta-3 a {
	color: var(--primary);
	background-color: var(--secondary);
	font-style: italic;
	font-size: 1.1rem;
	/* border: 1px solid #724c469e; */
}
#bottone-carta-3 a:hover {
	box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1) inset, -8px -8px 8px #bb7e75 inset;
	background-color: var(--secondary);
	transform: scale(0.98);
}

.hidden {
	opacity: 0;
	transform: translateY(40px);
	transition: opacity 1s ease-out, transform 1s ease-out;
}

/* -------------------------------------------------------------------------- */
/*                                   EQUIPE HOME                              */
/* -------------------------------------------------------------------------- */
.foto-equipe {
	width: 150px;
	border-radius: 50%;
	margin-bottom: 2rem;
}
.testo-equipe {
	width: 80vw;
	text-align: center;
}
/* #equipe{
	background-color: ;
} */

#bottone-team-home {
	align-self: center;
	width: fit-content;
	background-color: var(--primary);
	padding: 0.5rem 2rem;
	border-radius: 50px;
	font-family: "Montserrat", serif;

	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	transition: all 0.3s;
}

#bottone-team-home a {
	color: var(--text);
	text-align: center;
	font-weight: 600;
}
/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
.logo-footer {
	width: 3rem;
}
footer p {
	font-size: 0.9rem;
}

footer {
	margin-top: 5rem;
	background-color: var(--background);
}

/* -------------------------------------------------------------------------- */
/*                              CONTAINER PAGINE                              */
/* -------------------------------------------------------------------------- */
.container-pagine {
	width: 80%;
	margin: auto;
}

/* -------------------------------------------------------------------------- */
/*                                   BURGER                                   */
/* -------------------------------------------------------------------------- */
/* Icon 1 */
.navbar {
	--bs-navbar-toggler-border: 0;
	--bs-navbar-toggler-border-color: #ffffff00;
	--bs-navbar-active-color: none;
	--bs-navbar-toggler-focus-width: 0;
}

.animated-icon1 {
	width: 30px;
	height: 20px;
	position: relative;
	margin: 0px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}

.animated-icon1 span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	border-radius: 9px;
	border: 0;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.animated-icon1 span {
	background: var(--text);
}

.animated-icon1 span:nth-child(1) {
	top: 0px;
}

.animated-icon1 span:nth-child(2) {
	top: 10px;
}

.animated-icon1 span:nth-child(3) {
	top: 20px;
}

.animated-icon1.open span:nth-child(1) {
	top: 11px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
}

.animated-icon1.open span:nth-child(3) {
	top: 11px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

/* -------------------------------------------------------------------------- */
/*                               NAVBAR SCROLLED                              */
/* -------------------------------------------------------------------------- */
.navbar-scrolled {
	background-color: rgba(0, 0, 0, 0.584) !important;
	--bs-navbar-padding-y: 0rem;
}

.logo-scrolled {
	filter: brightness(0) saturate(100%) invert(90%) sepia(1%) saturate(7473%) hue-rotate(326deg) brightness(101%) contrast(93%);
}

.item-scrolled {
	color: var(--primary) !important;
}

nav {
	transition: all 0.5s;
	/* max-height: 4rem; */
}

/* -------------------------------------------------------------------------- */
/*                               PAGINA BAMBINI                               */
/* -------------------------------------------------------------------------- */
.main-bambini,
.testi-pagine {
	margin-top: 5rem;
	margin-bottom: 10rem;
}

.card-wrapper {
	display: inline-block;
	perspective: 1000px;
}
.card-wrapper .carta-bambini {
	position: relative;
	cursor: pointer;
	transition-duration: 0.6s;
	transition-timing-function: ease-in-out;
	transform-style: preserve-3d;
}
.card-wrapper .carta-bambini .front,
.card-wrapper .carta-bambini .back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transform: rotateX(0deg);
}
.card-wrapper .carta-bambini .front {
	z-index: 2;
}
.card-wrapper .carta-bambini .back,
.card-wrapper.flip-right .carta-bambini .back {
	transform: rotateY(180deg);
}
.card-wrapper:hover .carta-bambini,
.card-wrapper.flip-right:hover .carta-bambini {
	transform: rotateY(180deg);
}

.card-wrapper,
.carta-bambini {
	width: 400px;
	height: 200px;
	margin-bottom: 10px; /* Remove the margin here */
}

/* Add a new class to handle the spacing through the Bootstrap column */
.col.card-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.carta-bambini .front,
.carta-bambini .back {
	display: flex;
	align-items: center;
	justify-content: center;
	/* border: 1px solid #fc545e; */
	border-radius: 4px;
}
.carta-bambini .front {
	opacity: 1;
	color: white;
	font-weight: 700;
	font-size: 1.25rem;
	text-align: center;
	position: relative;
	z-index: 2;
}

.carta-bambini .front > span {
	position: relative;
	z-index: 2;
}

.carta-bambini .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1;
}

.carta-bambini .back {
	font-size: 1.5rem;
	font-weight: 700;
	color: #ffffff;
	background: #066756;
}

#titolo-adolescente {
	font-size: 2rem;
}

.adolescenti .nav-link:hover {
    color: #fff2e6 !important;
}
/* -------------------------------------------------------------------------- */
/*                                 SOTTOPAGINE                                */
/* -------------------------------------------------------------------------- */
.testi-pagine h1 {
	font-size: 2rem;
	text-align: left;
}
.citazione-container {
	width: 80%;
	margin-left: auto;
	text-align: right;
	padding: 10px;
	padding-right: 2rem;
	border-right: 4px solid #e1c5aa; /* Linea di evidenziazione a sinistra */
	font-style: italic; /* Per un effetto più citazione */
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.citazione {
	text-align: right;
	color: #323232;
	font-size: 1.5rem;
}

.dropdown-item {
	padding: 1rem 0rem;
	border-bottom: 1px solid #e1c5aa;
	transition: all 0.3s;
}
.dropdown-menu > .dropdown-item:last-child {
	border-bottom: none !important;
}

/* -------------------------------------------------------------------------- */
/*                                PAGINA EQUIPE                               */
/* -------------------------------------------------------------------------- */
/* .equipe-page{
	background-color: #efefef;
} */
#pagina-equipe {
	margin-top: 5rem;
	margin-bottom: 10rem;
}

.membri {
}

.membro {
}

.membro img {
	width: 250px;
	border-radius: 100px 3px 0 0;
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.membro img:hover {
}

.membro:hover {
	transform: scale(1.1);
}

.membro {
	transition: all 0.3s;
	margin-bottom: 3rem;
}

.nome-ruolo p {
	text-align: center;
	font-size: 1.2rem;
	margin: 0;
	background-color: var(--primary);
	padding: 1rem;
	border-radius: 40px;
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.nome-ruolo {
	min-width: 300px;
}


/* -------------------------------------------------------------------------- */
/*                               PAGINA CONTATTI                              */
/* -------------------------------------------------------------------------- */
.pagina-contatti{
	background-color: var(--primary);
}
.pagina-contatti footer{
	display: none;
}
.pagina-contatti .nav-link:hover {
    color: #066756 !important;
}
#contatti{
	margin-top: 5rem;
	margin-bottom: 10rem;
}

#contatti p{
	text-align: left;
}

#contatti h2{
	text-align: left;
	font-weight: 800;
	margin-bottom: 2rem;
}

#contatti a{
	color: #86564e;
	text-decoration: underline;
}
#map{
	border-radius: 20px;
	height: 400px;
	width: 100%;
	margin: auto;
}

.sezione-mappa{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}



/* -------------------------------------------------------------------------- */
/*                                  MOVING BG                                 */
/* -------------------------------------------------------------------------- */
.blob-outer-container {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -1;
	inset: 0;
	margin: auto;
	filter: blur(100px);
	opacity: 0.7;
}
.blob-inner-container {
	border-radius: 99999px;
	position: absolute;
	inset: 0;
	margin: auto;
	width: 100vw;
	height: 100vh;
	min-width: 1000px;
	overflow: hidden;
	background-color: #fff;
	transform: scale(0.8);
}
.blob {
	position: absolute;
	width: 100vw;
	height: 100vh;
	inset: 0;
	margin: auto;
	background: conic-gradient(from 0deg, #c28185, #f7d9bc, #d89a8f, #a97169, #fbd9d0);
	/*#08f, #f60, #bbffa1, #4c00ff, #ab2666, #09f)*/
	animation: spinBlob 8s linear infinite;
}
@keyframes spinBlob {
	0% {
		transform: rotate(0deg) scale(2);
	}
	100% {
		transform: rotate(1turn) scale(2);
	}
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 576px) {
	p {
		letter-spacing: 0.5px;
		font-size: 1.25rem;
		text-align: justify;
	}
	.card-wrapper,
	.carta-bambini {
		width: 200px;
		height: 200px;
		margin-bottom: 10px; /* Remove the margin here */
	}

	#titolo-adolescente {
		font-size: 3rem;
	}
	.my-card {
		max-width: 50%;
	}
}

@media screen and (min-width: 680px) {
	#titolo-adolescente {
		font-size: 4rem;
	}
}

@media screen and (min-width: 992px) {
	.navbar-brand img {
		width: 4rem;
	}
	h1 {
		font-size: 5rem;
	}
	h2 {
		margin-top: 3rem;
		margin-bottom: 4rem;
	}
	.testo > h2 {
		text-align: left;
		margin-bottom: 1rem;
		font-weight: 600;
	}
	#hero {
		/* margin-top: -5.8rem;
		padding-top: 13rem; */
		margin-top: 5rem;
		margin-bottom: 10rem;
		/* background-image: url("../img/hero-canion.jpg");
		height: 100vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed; */
	}

	.my-container {
		max-width: 90%;
		flex-direction: row;
	}
	.immagine-centro {
		width: 60%;
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
	.testo-centro {
		margin: 0rem 0 0 auto;
		/* margin-left: auto; */
	}
	.my-card {
		width: 28%;
		height: 80vh;
	}
	.image {
		margin-bottom: -30px;
	}
	.my-card img {
		max-width: 50%;
	}
	.my-card-text {
		padding: 0rem 3rem;
	}
	.margine-bottone-carta {
		margin: auto auto 3rem 2.6rem;
	}
	#servizi-lg {
		display: block;
		margin-top: 5rem;
		margin-bottom: 6rem;
	}
	#servizi-sm {
		display: none;
	}
	.logo-footer {
		width: 5rem;
	}
	.text-center a {
		font-size: 0.8rem;
	}

	.container-pagine {
		width: 50%;
		margin: auto;
	}

	/* -------------------------------------------------------------------------- */
	/*                   APRIRE IL MENU A TENDINA SENZA CLICCARE                  */
	/* -------------------------------------------------------------------------- */
	/* Nascondi il dropdown inizialmente */
	.dropdown-menu {
		display: block; /* Lascia sempre il menu nel flusso del DOM */
		visibility: hidden; /* Nascondi il menu */
		opacity: 0; /* Imposta trasparenza iniziale */
		transform: translateY(-10px); /* Posiziona leggermente sopra */
		transition: all 0.4s ease-in-out; /* Anima posizione e opacità */
	}

	/* Mostra il dropdown al passaggio del mouse */
	.dropdown:hover .dropdown-menu {
		visibility: visible; /* Rendi visibile */
		opacity: 1; /* Rende il menu completamente visibile */
		transform: translateY(0); /* Riporta il menu alla posizione originale */
	}

	/* Stile per gli elementi del menu */
	.dropdown-item {
		padding: 0.8rem 1.5rem;
		transition: all 0.3s;
	}
	.dropdown-menu > .dropdown-item:last-child {
		border-bottom: none !important;
	}

	/* Cambia il colore del testo quando si passa sopra "SERVIZI" */
	.nav-item.dropdown:hover .dropdown-toggle {
		color: var(--primary); /* Usa una variabile CSS per il colore */
	}

	.bambini .nav-item.dropdown:hover .dropdown-toggle {
		color: #066756; /* Usa una variabile CSS per il colore */
	}
	.adolescenti .nav-item.dropdown:hover .dropdown-toggle {
		color: #ffead6; /* Usa una variabile CSS per il colore */
	}

	.pagina-contatti .nav-item.dropdown:hover .dropdown-toggle{
		color: #066756;
	}

	#titolo-adolescente {
		font-size: 5rem;
	}

	/* -------------------------------------------------------------------------- */
	/*                                  SCROLLBAR                                 */
	/* -------------------------------------------------------------------------- */
	::-webkit-scrollbar {
		width: 6px;
	}

	::-webkit-scrollbar-thumb {
		background: #323232;
		border-radius: 5px;
	}

	/* -------------------------------------------------------------------------- */
	/*                                 SOTTOPAGINE                                */
	/* -------------------------------------------------------------------------- */
	.testi-pagine h1 {
		font-size: 5rem;
	}
}
